/*Footer*/
.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;      
    grid-template-areas:
        "logo nav redes"
        "copy copy copy";
    justify-items: center;
    padding: 30px 80px;
    background-color: #000000;
    color: white;
}

.grid-footer li{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.grid-footer a{
    text-decoration: none;
    color: aliceblue;
}

.grid-footer p a{
    color: rgb(255, 255, 255, 0.5);
}

/* Áreas del grid */
.footer-logo {
    grid-area: logo; 
    display: flex;
}

.footer-nav {
    grid-area: nav; 
    display: flex;
    flex-direction: column;
}

.footer-nav ul{
    padding:0px
}

.footer-redes {
    grid-area: redes; 
    display: flex;
    flex-direction: column;       
}

.footer-redes h2, a{
    margin-bottom: 20px;
    margin-left: 10px;
}

.footer-copy { 
    grid-area: copy;
    margin: 20px;
    display: flex;
    justify-content: center;  
    align-items: end;
    color: rgb(255, 255, 255, 0.5);
}

.footer-copy a{
    margin: 0px;
    font-style: italic;
}