* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 221, 221);
    width: 100vw;
    color: rgb(0, 0, 0);
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#logo {
    /*Tamaños*/
    margin: 15px 0px;
    padding: 0px;
    width: 50px;
    border-radius: 100%;
}

h1{
    visibility: hidden;
    position: absolute;
    width: 1px;
}
