/*Header*/
.container {
    display: flex;
}

.navbar {
    background-color: rgb(0, 0, 0);
    /*Posisionamiento*/
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    width: 100%;
    /*Fonts*/
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
}

.navbar_logo {
    justify-content: start;
}

.menu-h, .fa-bars {
    display: none;
}
    .navbar div{
        /*Posisionamiento*/
        margin: 0px;
    }

    .navbar ul {
        /*Posisionamiento*/
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .navbar li {
        margin: 0px 20px;
    }

    .navbar a {
        /*Posisionamiento*/
        display: block;
        color: aliceblue;
        text-decoration: none;
        margin: 0px 20px;
    }

    .nav-icons{
        /*Posisionamiento*/
        display: flex;
        justify-content: end;
        gap: 0px;
    }

    .nav-icons a{
        margin: 0px;
        padding: 0px;
    }

    .nav-icons i{
        margin: 0px 10px;
    }