.card {
            margin-bottom: 20px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);

        }
        .card:hover {
            transform: translateY(5px);
        }
        .card-img-top {
            height: 400px;
            object-fit: contain;
        }
        
        h2 {
            margin-bottom: 30px;
            font-weight: bold;
        }
    