/*Media-quieries*/
@media (max-width: 992px){
    .navbar{
        padding: 5px 1px;
    }

    .menu-h, .fa-bars {
        display: block;
    }
    
    img {
        max-width: 100%;
        height: auto;   
        display: block;
    }
    .navbar ul {
        /*Posisionamiento*/
        display: none;
    }

        /*Footer*/
    .grid-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-logo, .grid-nav, .grid-redes, .grid-copy {
        margin: 10px 0px;
    }
}

@media(max-width: 480px){
    .menu-h, .fa-bars {
        display: block;
    }

    img {
        max-width: 100%;
        height: auto;   
        display: block;
    }


    /*Footer*/
    .grid-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-logo, .grid-nav, .grid-redes, .grid-copy {
        margin: 10px 0px;
    }
}