@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(220, 221, 221);
  color: rgb(0, 0, 0);
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#logo {
  /*Tamaños*/
  margin: 15px 0px;
  padding: 0px;
  width: 50px;
  border-radius: 100%;
}

h1 {
  visibility: hidden;
  position: absolute;
  width: 1px;
}

/*Tarjetas*/
.tarjetas img {
  width: 50px;
  margin: 10px 0px 40px 0px;
}

/*como tomar medidas*/
.medidas {
  width: 500px;
}

/*Ayuda*/
.card-ayuda, .card-inicio-sesion, .card-contacto {
  background-color: #e2e2e2;
  border-radius: 8px;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0px 4px 16px rgba(11, 100, 3, 0.3);
}

.preguntas-frecuentes {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.preguntas-frecuentes ol {
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.metodo-compra li {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.8);
}

/*Cards*/
.card {
  margin-bottom: 20px;
  min-height: 600px;
  box-shadow: 0px 4px 16px rgba(11, 100, 3, 0.3);
}
.card .card-img-top {
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.card h2 {
  font-size: 24px;
  font-weight: bold;
}
.card p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.btn {
  background: radial-gradient(circle, #686767, #000000);
}

/* Inicio de sesion */
.card-inicio-sesion {
  max-height: 500px;
}

/* Contacto */
.card-contacto {
  max-width: 400px;
  border-radius: 10%;
}

/*banner*/
.banner {
  width: 100%;
}

/*Header*/
.container {
  display: flex;
}

.navbar {
  background-color: rgb(0, 0, 0);
  /*Posisionamiento*/
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  /*Fonts*/
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 17px;
}

.navbar_logo {
  justify-content: start;
}

.menu-h, .fa-bars {
  display: none;
}

.navbar div {
  /*Posisionamiento*/
  margin: 0px;
}

.navbar ul {
  /*Posisionamiento*/
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar li {
  margin: 0px 20px;
}

.navbar a {
  /*Posisionamiento*/
  display: block;
  color: aliceblue;
  text-decoration: none;
  margin: 0px 20px;
}

.nav-icons {
  /*Posisionamiento*/
  display: flex;
  justify-content: end;
  gap: 0px;
}

.nav-icons a {
  margin: 0px;
  padding: 0px;
}

.nav-icons i {
  margin: 0px 10px;
}

/*Footer*/
.grid-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "logo nav redes" "copy copy copy";
  justify-items: center;
  padding: 30px 80px;
  background-color: #000000;
  color: white;
}

.grid-footer li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px;
}

.grid-footer a {
  text-decoration: none;
  color: aliceblue;
}

.grid-footer p a {
  color: rgba(255, 255, 255, 0.5);
}

/* Áreas del grid */
.footer-logo {
  grid-area: logo;
  display: flex;
}

.footer-nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

.footer-nav ul {
  padding: 0px;
}

.footer-redes {
  grid-area: redes;
  display: flex;
  flex-direction: column;
}

.footer-redes h2, a {
  margin-bottom: 20px;
  margin-left: 10px;
}

.footer-copy {
  grid-area: copy;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: rgba(255, 255, 255, 0.5);
}

.footer-copy a {
  margin: 0px;
  font-style: italic;
}

.animacion {
  transition: transform 0.3s ease;
}
.animacion:hover {
  transform: scale(1.05);
}

.nav_logo {
  transform-style: preserve-3d;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_logo:hover {
  animation: rotateCube 1s linear;
}

@keyframes rotateCube {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
/*Media-quieries*/
@media (max-width: 992px) {
  .navbar {
    padding: 5px 1px;
  }
  .menu-h, .fa-bars {
    display: block;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .navbar ul {
    /*Posisionamiento*/
    display: none;
  }
  /*Footer*/
  .grid-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-logo, .grid-nav, .grid-redes, .grid-copy {
    margin: 10px 0px;
  }
}
@media (max-width: 480px) {
  .menu-h, .fa-bars {
    display: block;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  /*Footer*/
  .grid-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-logo, .grid-nav, .grid-redes, .grid-copy {
    margin: 10px 0px;
  }
}/*# sourceMappingURL=style.css.map */